

<h1>Object Detail</h1>
<h3>Type: {{raw.constructor.modelName}}</h3>
<h3>ID: {{raw.id}}</h3>

<h3>Attributes</h3>
<table>
  <tr>
    <th>Property</th>
    <th>Type</th>
    <th>Value</th>
  </tr>
  {{#each raw.constructor.attributes as |attr|}}
    <tr>
      <td>{{attr.name}}</td>
      <td>{{attr.type}}</td>
      <td>{{get raw attr.name}}</td>
    </tr>
  {{/each}}
</table>

<h3>Relationships</h3>
<table>
  <tr><th>Key</th><th>Type</th><th>Ordinal</th><th>Value</th></tr>
  {{#each raw.constructor.relationshipsByName as |rel|}}
    <tr>
      <td>{{rel.key}}</td>
      <td>{{rel.type}}</td>
      <td>{{rel.name}}</td>
      <td><LinkTo @route={{concat rel.type "s.detail" }} @model={{get raw rel.key}}>Link {{get raw (concat rel.key ".id")}}</LinkTo></td>
    </tr>
  {{/each}}
</table>


{{yield}}
