

<h3>Site Epoch:</h3>
<table>
   <tr><th>ID</th><td>{{model.id}}</td></tr>
   <tr><th>Codes</th><td> {{model.netcode}}.{{model.lookupcode}}</td></tr>
   <tr><th>Location Description</th><td>{{s.locationdescription}}</td></tr>
   <tr><th>Site Name</th><td>{{s.sitename}}</td></tr>
   <tr><th>On Date</th><td>{{moment-format (utc model.ondate)}}</td></tr>
   <tr><th>Lat/Lon</th><td>{{model.latitude}}/{{model.longitude}}</td></tr>
   <tr><th>Elevation</th><td>{{model.elevation}}</td></tr>
   <tr><th>SiteTypes</th><td>{{model.sitetypes}}</td></tr>
   <tr><th>TelemetryTypes</th><td>{{model.telemetrytypes}}</td></tr>
   <tr><th>Operators</th><td>{{#each model.siteoperators as |o|}}<LinkTo @route="organizations.detail" @model={{o}}>Org: {{o.id}}</LinkTo> {{/each}}</td></tr>
   <tr><th>Equip Installs</th><td>{{#each model.equipinstallations as |e|}}<LinkTo @route="equipment-installations.detail" @model={{e}}>Equip: {{e.id}}</LinkTo> {{/each}}</td></tr>
   <tr><th>Tel Nodes</th><td>{{#each model.telemetrynodes as |n|}}<LinkTo @route="telemetry-nodes.detail" @model={{n}}>Node: {{n.id}}</LinkTo> {{/each}}</td></tr>
 </table>


 <RawObjectDisplay @raw={{model}} />

{{outlet}}
