

<h3>Site Epoch:</h3>
<table>
   <tr><th>ID</th><td>{{model.id}}</td></tr>
   <tr><th>Codes</th><td> {{model.netcode}}.{{model.lookupcode}}</td></tr>
   <tr><th>On Date</th><td>{{moment-format (utc model.ondate)}}</td></tr>
   <tr><th>Lat/Lon</th><td>{{model.latitude}}/{{model.longitude}}</td></tr>
   <tr><th>Type</th><td>{{model.sitetypes}}</td></tr>
 </table>

{{outlet}}
