
<h3>Site Epochs</h3>

<table>
  {{#each model as |s|}}
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.netcode}}.{{s.lookupcode}}</td>
      <td>{{moment-format (utc s.ondate) }}</td>
      <td>{{s.latitude}}/{{s.longitude}}</td>
      <td>{{s.sitetypes}}</td>
    </tr>
  {{/each}}
</table>

{{outlet}}
