

<h3>Telemetry Connections</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>On</th>
    <th>Off</th>
    <th>Notes</th>
    <th>Created By</th>
    <th>Created At</th>
    <th>Modified By</th>
    <th>Modified At</th>
    <th>Nodes</th>
  </tr>
  {{#each model as |s|}}
  <tr>
    <td><LinkTo @route="telemetry-connections.detail" @model={{s}}>{{s.id}}</LinkTo></td>
    <td>{{s.connectiontype}}</td>
    <td>{{moment-format (utc s.ondate)}}</td>
    <td>{{if s.offdate (moment-format (utc s.offdate))}}</td>
    <td>{{s.notes}}</td>
    <td>{{s.createdby}}</td>
    <td>{{moment-format (utc s.datecreated)}}</td>
    <td>{{s.modifiedby}}</td>
    <td>{{moment-format (utc s.datemodified)}}</td>
    <td>{{#each s.telemetrynodes as |n|}}<LinkTo @route="telemetry-nodes.detail" @model={{n}}>Node: {{n.id}}</LinkTo>{{/each}}</td>

  </tr>
  {{/each}}
</table>

{{outlet}}
