
<h3>Telemetry Node Detail</h3>

<table>
  <tr><td>ID</td><td>{{model.id}}</td></tr>
  <tr><td>Port</td><td>{{model.port}}</td></tr>
  <tr><td>Port Desc.</td><td>{{model.portdescription}}</td></tr>
  <tr><td>IP Addrs</td><td>{{model.ipaddresses}}</td></tr>
  <tr><td>Created By</td><td>{{model.createdby}}</td></tr>
  <tr><td>Date Created</td><td>{{moment-format (utc model.datecreated)}}</td></tr>
  <tr><td>Modified By</td><td>{{model.modifiedby}}</td></tr>
  <tr><td>Date Modified</td><td>{{moment-format (utc model.datemodified)}}</td></tr>
  <tr><td>Site Epoch</td><td><LinkTo @route="site-epochs.detail" @model={{model.siteepoch}}>{{model.siteepoch.id}}</LinkTo></td></tr>
  <tr><td>Equip. Install.</td><td><LinkTo @route="equipment-installations.detail" @model={{model.equipinstallepoch}}>{{model.equipinstallepoch.id}}</LinkTo></td></tr>

  <tr>
    <td>Connections</td>
    <td>{{#each model.connections as |c|}}
      <LinkTo @route="telemetry-connections.detail" @model={{c}}>{{c.id}}</LinkTo>
    {{/each}}</td>
  </tr>
</table>

<RawObjectDisplay @raw={{model}} />

{{outlet}}
