
<h3>Telemetry Nodes</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Port</th>
    <th>Port Desc</th>
    <th>IP</th>
    <th>Created By</th>
    <th>Created On</th>
    <th>Modified By</th>
    <th>Modified On</th>
    <th>Site Epoch</th>
    <th>Equip Inst.</th>
    <th>Connections</th>
  </tr>
  {{#each model as |s|}}
  <tr>
    <td><LinkTo @route="telemetry-nodes.detail" @model={{s.id}}>{{s.id}}</LinkTo></td>
    <td>{{s.port}}</td>
    <td>{{s.portdescription}}</td>
    <td>{{s.ipaddresses}}</td>
    <td>{{s.createdby}}</td>
    <td>{{moment-format (utc s.datecreated)}}</td>
    <td>{{s.modifiedby}}</td>
    <td>{{moment-format (utc s.datemodified)}}</td>
    <td><LinkTo @route="site-epochs.detail" @model={{s.siteepoch}}>{{s.siteepoch.id}}</LinkTo></td>
    <td><LinkTo @route="equipment-installations.detail" @model={{s.equipinstallepoch}}>{{s.equipinstallepoch.id}}</LinkTo></td>
    
<!--
    <td>{{#link-to 'equip-installations.detail' s.equipinstallepoch}}{{s.equipinstallepoch.id}}{{/link-to}}</td>
-->
    <td>{{#each s.connections as |c|}}
          <LinkTo @route="telemetry-connections.detail" @model={{c}}>{{c.id}}</LinkTo>
        {{/each}}</td>
  </tr>
  {{/each}}
</table>

{{outlet}}
