

<h3>Telemetry Node Detail</h3>

<table>
  <tr><td>ID</td><td>{{model.id}}</td></tr>
  <tr><td>Port</td><td>{{model.port}}</td></tr>
  <tr><td>Port Desc.</td><td>{{model.portdescription}}</td></tr>
  <tr><td>IP Addrs</td><td>{{model.ipaddresses}}</td></tr>
  <tr><td>Created By</td><td>{{model.createdby}}</td></tr>
  <tr><td>Date Created</td><td>{{moment-format (utc model.datecreated)}}</td></tr>
  <tr><td>Modified By</td><td>{{model.modifiedby}}</td></tr>
  <tr><td>Date Modified</td><td>{{moment-format (utc model.datemodified)}}</td></tr>
  <tr><td>Site Epoch</td><td>{{#link-to 'sites.detail' model.siteepoch}}{{model.siteepoch.id}}{{/link-to}}</td></tr>
  <tr><td>Equip. Install.</td><td>{{#link-to 'equip-installations.detail' model.equipinstallepoch}}{{model.equipinstallepoch.id}}{{/link-to}}</td></tr>
</table>

{{outlet}}
