
<table>
  <tr><th>category</th><td>{{model.category}}</td></tr>
  <tr><th>modelname</th><td>{{model.modelname}}</td></tr>
  <tr><th>serialnumber</th><td>{{model.serialnumber}}</td></tr>
  <tr><th>ondate</th><td>{{moment-format (utc model.ondate)}}</td></tr>
  <tr><th>offdate</th><td>{{if model.offdate (moment-format (utc model.offdate))}}</td></tr>
  <tr><th>equipname</th><td>{{model.equipname}}</td></tr>
  <tr><th>notes</th><td>{{model.notes}}</td></tr>
  <tr><th>Site Epoch</th><td><LinkTo @route="site-epochs.detail" @model={{model.siteepoch}}>{{model.siteepoch.id}}</LinkTo></td></tr>
  <tr><th>Tel Nodes</th><td>{{#each model.telemetrynodes as |n|}}<LinkTo @route="telemetry-nodes.detail" @model={{n}}>Node: {{n.id}}</LinkTo> {{/each}}</td></tr>

</table>

<RawObjectDisplay @raw={{model}} />

{{outlet}}
