
<table>
  <tr>
      <th>id</th>
      <th>category</th>
      <th>modelname</th>
      <th>serialnumber</th>
      <th>ondate</th>
      <th>offdate</th>
      <th>equipname</th>
      <th>notes</th>
      <th>Site Epoch</th>
      <th>Tel Nodes</th>
  </tr>
  {{#each model as |s|}}
  <tr>
    <td><LinkTo @route="equipment-installations.detail" @model={{s.id}}>{{s.id}}</LinkTo></td>
    <td> {{s.category}}</td>
    <td> {{s.modelname}}</td>
    <td> {{s.serialnumber}}</td>
    <td> {{moment-format (utc s.ondate)}}</td>
    <td> {{if s.offdate (moment-format (utc s.offdate))}}</td>
    <td> {{s.equipname}}</td>
    <td> {{s.notes}}</td>
    <td><LinkTo @route="site-epochs.detail" @model={{model.siteepoch}}>{{model.siteepoch.id}}</LinkTo></td>
    <td>{{#each model.telemetrynodes as |n|}}<LinkTo @route="telemetry-nodes.detail" @model={{n}}>Node: {{n.id}}</LinkTo> {{/each}}</td>

  </tr>
  {{/each}}
</table>

{{outlet}}
