
<table>
  <tr>
      <th>id</th>
      <th>category</th>
      <th>modelname</th>
      <th>serialnumber</th>
      <th>ondate</th>
      <th>offdate</th>
      <th>equipname</th>
      <th>notes</th>
      <th>Site Epoch</th>
      <th>Tel Nodes</th>
  </tr>
  {{#each model as |s|}}
  <tr>
    <td>{{#link-to 'equipment-installations.detail' s.id }}{{s.id}}{{/link-to}}</td>
    <td> {{s.category}}</td>
    <td> {{s.modelname}}</td>
    <td> {{s.serialnumber}}</td>
    <td> {{moment-format (utc s.ondate)}}</td>
    <td> {{if s.offdate (moment-format (utc s.offdate))}}</td>
    <td> {{s.equipname}}</td>
    <td> {{s.notes}}</td>
    <td>{{#link-to 'site-epochs.detail' model.siteepoch }}{{model.siteepoch.id}}{{/link-to}}</td>
    <td>{{#each model.telemetrynodes as |n|}}{{#link-to 'telemetry-nodes.detail' n }}Node: {{n.id}}{{/link-to}} {{/each}}</td>

  </tr>
  {{/each}}
</table>

{{outlet}}
